section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fondo {
  height: 580px;
  width: 100%;
}

.gato {
  position: absolute;
  top: 150px;
}

@media (min-width: 1024px){
  #fondo2, #fondo3, #gato2, #gato3 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  #fondo1, #fondo3, #gato2, #gato3 {
    display: none;
  }
  #fondo2 {
    display: flex;
  }
}

@media (min-width: 480px) and (max-width: 768px){
  #fondo1, #fondo3, #gato1, #gato3 {
    display: none;
  }
  #fondo2, #gato2 {
    display: flex;
  }
  #gato2 {
    width: 480px;
  }
}

@media (min-width: 320px) and (max-width: 480px){
  #fondo1, #fondo2, #gato1, #gato2 {
    display: none;
  }
  #fondo3, #gato3 {
    display: flex;
  }
}

@media (max-width: 320px) {
  #fondo1, #fondo2, #gato1, #gato2, #gato3 {
    display: none;
  }
  #fondo3 {
    display: flex;
  }
}
